{% extends './admin/base.html' %}

{% block title %} 
    <title>{{ username }} | Adalat</title>
{% endblock %}
    
{% block body %} 
<h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Total Cases Registered</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <h1 class="small text-white stretched-link" >{{count["COUNT(*)"]}}</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Total Lawyers</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <h1 class="small text-white stretched-link" >{{l_count["COUNT(*)"]}}</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Total Judges</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <h1 class="small text-white stretched-link" >{{j_count["COUNT(*)"]}}</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Cases Pending</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <h1 class="small text-white stretched-link" >{{p_count["COUNT(*)"]}}</h1>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            All Lawyers
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>Address</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for l in lawyer: %}
                        <tr>
                            <td>{{l['LawyerId']}}</td>
                            <td>{{l['Name']}}</td>
                            <td>{{l['email']}}</td>
                            <td>{{l['contact']}}</td>
                            <td>{{l['address']}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    <p>Works Fine {{ username }}</p> {{ username }}
{% endblock %}