{% extends 'base.html' %}

{% block head %} 
    <title>Register | Adalat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css')}}"/>
{% endblock %}

{% block body %} 
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">Register Now</span>
                        <span class="section-heading-lower">Fill The Form Below</span>
                    </h2>
                    <div class="register">
                        <h1>Register</h1>
                        <div class="links">
                            <a href="{{ url_for('register_page') }}">Register</a>
                            <a href="{{ url_for('register_citizen_page') }}">Citizen</a>
                            <a href="{{ url_for('register_lawyer_page') }}" class="active">Lawyer</a>
                            <a href="{{ url_for('register_judge_page') }}">Judge</a>
                        </div>
                        <form action="{{ url_for('register_citizen') }}" method="post" autocomplete="off">
                            <label for="name">
                                <i class="fas fa-user"></i>
                            </label>
                            <input type="text" name="name" placeholder="Name" id="name" required>
                            <label for="email">
                                <i class="fas fa-envelope"></i>
                            </label>
                            <input type="email" name="email" placeholder="Email" id="email" required>
                            <label for="contact">
                                <i class="fas fa-phone"></i>
                            </label>
                            <input type="text" name="contact" placeholder="Contact" id="contact" required>
                            <label for="address">
                                <i class="fas fa-home"></i>
                            </label>
                            <input type="text" name="address" placeholder="Address" id="address" required>
                            
                            <div class="msg">{{ msg }}</div>
                            <input type="submit" value="Register">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}